---
layout: default
---

<div class="home" ng-init="controller.indexInit()">
  <h3 style="border-radius:10px;background-color:yellow;color:black;">Testing out a new comments feature. If you encounter any issues please submit an issue <a href="http://github.com/SnareChops/snarechops.github.io">here</a>. Thank you for supporting Grumbling Bugs!</h3>
    <div class="flex-wrapper">

    <h1 class="page-heading">Posts</h1>
    <form style="margin-left: auto;" ng-submit="controller.subscribe(controller.email)">
        <input type="email" ng-model="controller.email" placeholder="Enter email to subscribe">
        <input type="submit" ng-value="controller.subscribeButtonText">
    </form>
  </div>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">[!controller.views['{{post.postid}}']!] views</span>
        <p>{{ post.description }}</p>
        <span class="post-meta">Technologies:</span>
        {% for tech in post.technologies %}
          <span class="label {{tech}}">{{tech}}</span>
        {% endfor %}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
