---
layout: default
---
<div class="post">

  <header class="post-header" ng-init="controller.pageInit('{{page.postid}}')">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <p class="post-meta">[!controller.hits!] views</p>
      <!--<button ng-click="controller.like(true)">i++ ([!controller.incs!])</button>-->
      <!--<button ng-click="controller.like(false)">i-- ([!controller.decs!])</button>-->
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <section>
      <iframe id="comments" src="http://pink-puffy-poodle-197724.use1-2.nitrousbox.com/comments/{{page.postid}}" width="100%" scrolling="no" frameborder="0"></iframe>
  </section>
  <script type="text/javascript">
    iFrameResize({}, '#comments');
  </script>
</div>
