---
layout: default
---
<div class="post" ng-controller="PostController as controller">

  <header class="post-header" ng-init="controller.pageInit('{{post.id}}')">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <p class="post-meta">[!controller.hits!] views</p>
      <!--<button ng-click="controller.like(true)">i++ ([!controller.incs!])</button>-->
      <!--<button ng-click="controller.like(false)">i-- ([!controller.decs!])</button>-->
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
